body{
	background-color: maroon;
	
}
#header-nav{
	background-color: gray;
}

#heading{
	margin-left: 0px;
}
#navbarToggleExternalContent{
	background-color: gray;
	float: right;
}
 .navbar-toggler
{
	background-color: gray;
	float: right;
}
#para{
	height: 1000px;
	width: 100%;
	background-color: #CCCC00;
}
.active{
	font-size: 30px;
	width: 100%;
	text-align: center;
}
#list{
	width: 100%;
	 display: table;
     margin: 0 auto;
     padding: 0;
     list-style-type: none;
}
.col-xs-12{
	background-color: blue;
}

h1{
	display: inline-block;
}


@media (min-width:1200px )
{
 body{
	
	
     }
}
@media (min-width:768px )
{
	.navbar-toggler{
		display: none;
	}
	
}
